.todo__lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create__todo-text {
    margin: 0;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 20px;
}

.form_radio_lists {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.labels {
    display: flex;
    gap: 5px;
    align-items: center;
}

.input_modify {
    all: unset;
}

.labels .radio-label {
    cursor: pointer;
}

.form-radio-btn {
    display: flex;
    gap: 5px;
}

.edit-input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    all: unset;
}

.business-radio {
    appearance: none;
    border: 2px solid rgb(0, 26, 255);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    width: 20px;
    height: 20px;
}

.business-radio:checked {
    background-color: rgb(0, 26, 255);
}

.personal-radio {
    appearance: none;
    border: 2px solid rgb(255, 0, 217);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    width: 20px;
    height: 20px;
}

.personal-radio:checked {
    background-color: rgb(255, 0, 217);
}

.checked-task {
    color: grey;
    text-decoration: line-through;
}
